<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$about.title}_{$cfg.sysname}</title>
<meta name="keywords" content="{$cfg.keywords}" />
<meta name="description" content="{$cfg.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/common.js" type="text/javascript"></script>
</head>

<body>
{include file='header.htm'}
<div class="area">
	<div class="left01" id="left">
		<div class="banner"><script src="js/banner.js"></script></div>
		<div class="yourpos"><a href="index.php">首页</a> >> 关于连纵 >> {$about.title}</div>
		<div class="title-gray">{$about.title}</div>
		<p>{$about.content}</p>
	</div>
	<div class="right01" id="right">
		<div class="title-big">关于连纵</div>
		<ul class="titlelist">
			<li><a href="about.php?id=1"{if $smarty.get.id==1} class="selected"{/if}>连纵简介</a></li>
			<li><a href="about.php?id=2"{if $smarty.get.id==2} class="selected"{/if}>连纵宗旨</a></li>
			<li><a href="about.php?id=3"{if $smarty.get.id==3} class="selected"{/if}>社会责任</a></li>
		</ul>
		<div class="blank"></div>
		<div id="lhhz"><img src="images/pic-2.jpg" width="245" border="0" /></div>
	</div>
	<div class="clear"></div>
</div>
{include file='footer.htm'}