<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>友情链接-{$cfg.sysname}</title>
<meta name="keywords" content="{$cfg.keywords}" />
<meta name="description" content="{$cfg.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{include file='header.htm'}
<div class="page">
    <div class="youpos">当前位置: <a href="/">首页</a>&raquo; 友情链接</div>
    <div class="blank"></div>
	<div class="content-div">
		<div class="title-div">合作网站</div>
		 <div class="flinklist">
		 <!--{foreach from=$friendlinks item=flink}-->
		 <a href="{$flink.link_url}" title="{$flink.link_info}" target="_blank">{$flink.link_name}</a>
		 <!--{/foreach}-->
		 </div>
	</div>
</div>
{include file='footer.htm'}
