<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$curcategory.name}-{$cfg.sysname}</title>
<meta name="keywords" content="{$curcategory.keywords},{$cfg.keywords}" />
<meta name="description" content="{$curcategory.description},{$cfg.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{include file='header.htm'}
<div class="page">
    <div class="youpos">当前位置: <a href="/">首页</a>&raquo;<a href="jobs.php">英才诚聘</a>&raquo; {$curcategory.name}</div>
    <div class="blank"></div>
	<div class="content-div">
		<ul class="videocategory">
			<!--{foreach from=$category.jobs.0 item=cat}-->
			<li{if $cat.cid==$topcategoryid} class="selected"{/if}><a href="{$cat.caturl}">{$cat.name}</a></li>
			<!--{/foreach}-->
		</ul>
		<!--{if $topcategoryid>0 && $category.jobs.$topcategoryid}-->
		<div class="subcategory">
			{foreach from=$category.jobs.$topcategoryid item=menu}
			<a href="{$menu.caturl}"{if $menu.cid==$smarty.get.cid} class="selected"{/if}>{$menu.name}</a>
			{/foreach}
		</div>
		<!--{/if}-->
		<div class="videomaindiv">
			<!--{foreach from=$jobs.list item=job}-->
			<div class="jobsbox" onmouseover="this.style.background='#f2f2e2'" onmouseout="this.style.background='#fff'">
				<h3><span class="more"><a href="#">立即申请</a></span><a href="{$job.joburl}" title="{$job.jobtitle}" target="_blank">{$job.jobtitle}</a></h3>
				<div class="jobs-item">招聘人数：{$job.numbers}　薪资：{$job.salary}　发布时间：{$job.dateline|date_format:'%Y-%m-%d'}</div>
				<div class="jobs-content">能力要求：{$job.content}</div>
			</div>
			<!--{/foreach}-->
			<div class="blank"></div>
			<div class="pagediv" style="text-align:right; padding:10px;">{$pagelink}</div>
		</div>
	</div>
</div>
{include file='footer.htm'}
