<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$curcategory.name}-{$cfg.sysname}</title>
<meta name="keywords" content="{$curcategory.keywords},{$cfg.keywords}" />
<meta name="description" content="{$curcategory.description},{$cfg.description}" />
<link href="images/style.css" rel="stylesheet" type="text/css">
</head>

<body>
{include file='header.htm'}
<div class="page">
    <div class="youpos">当前位置: <a href="/">首页</a>&raquo; {$curcategory.name}</div>
    <div class="blank"></div>
	<div class="content-div">
		<ul class="videocategory">
			<!--{foreach from=$category.product.0 item=cat}-->
			<li{if $cat.cid==$topcategoryid} class="selected"{/if}><a href="{$cat.caturl}">{$cat.name}</a></li>
			<!--{/foreach}-->
		</ul>
		<!--{if $topcategoryid>0 && $category.product.$topcategoryid}-->
		<div class="subcategory">
			{foreach from=$category.product.$topcategoryid item=menu}
			<a href="{$menu.caturl}" {if $menu.cid==$smarty.get.cid} class="selected"{/if}>{$menu.name}</a>
			{/foreach}
		</div>
		<!--{/if}-->
		<div class="videomaindiv">
			<!--{foreach from=$products.list item=pro}-->
			<div class="videoitem" onmouseover="this.style.background='#e2e2e2'" onmouseout="this.style.background='#fff'">
				<div class="image-item"><a href="{$pro.prourl}" title="{$pro.proname}"><img src="{$pro.image}" /></a></div>
				<div class="title-item"><a href="{$pro.prourl}">{$pro.proname}</a></div>
				<div class="info-item">上市时间:{$pro.listingdate}</div>
				<div class="info-item">产品售价:{$pro.price}RMB</div>
			</div>
			<!--{/foreach}-->
			<div class="blank"></div>
			<div class="pagediv" style="text-align:right; padding:10px;">{$pagelink}</div>
		</div>
	</div>
</div>
{include file='footer.htm'}
