vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:35:25 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:35:25 -0000
vti_filesize:IR|1046
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|{$arc.arcurl}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/default/images/style.css DHUS| NHUS|lianzong/templates/default/{$arc.arcurl}
vti_cachedtitle:SR|{$about.title}-{$cfg.sysname}
vti_title:SR|{$about.title}-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$cfg.keywords} description {$cfg.description}
vti_backlinkinfo:VX|
