vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:48:07 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:48:07 -0000
vti_filesize:IR|2992
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|arclist.php H|javascript:; S|http://v1.jiathis.com/code/jia.js H|{$arc.arcurl} H|{$img.imgurl} S|{$img.image} H|{$img.imgurl} H|{$vod.vodurl} H|{$arc.arcurl}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/default/images/style.css DHUS| NHUS|lianzong/templates/default/arclist.php SHUS|javascript:; NSHS|http://v1.jiathis.com/code/jia.js NHUS|lianzong/templates/default/{$arc.arcurl} NHUS|lianzong/templates/default/{$img.imgurl} NSUS|lianzong/templates/default/{$img.image} NHUS|lianzong/templates/default/{$img.imgurl} NHUS|lianzong/templates/default/{$vod.vodurl} NHUS|lianzong/templates/default/{$arc.arcurl}
vti_cachedtitle:SR|{$article.title}-{$cfg.sysname}
vti_title:SR|{$article.title}-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$artile.tags},{$article.keywords},{$cfg.keywords} description {$article.summary}
vti_backlinkinfo:VX|
