vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:49:18 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:49:18 -0000
vti_filesize:IR|3999
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|{$product.caturl} H|javascript:; S|{$product.image} H|{$product.caturl} K|detail.htm H|javascript:; S|http://v1.jiathis.com/code/jia.js H|{$pro.prourl} S|{$pro.image} H|{$vod.vodurl} H|{$arc.arcurl} H|{$img.imgurl} S|{$img.image} H|{$img.imgurl} H|{$pro.prourl} S|{$pro.image} H|{$pro.prourl}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/default/images/style.css DHUS| NHUS|lianzong/templates/default/{$product.caturl} SHUS|javascript:; NSUS|lianzong/templates/default/{$product.image} NHUS|lianzong/templates/default/{$product.caturl} FKUS|lianzong/templates/default/detail.htm SHUS|javascript:; NSHS|http://v1.jiathis.com/code/jia.js NHUS|lianzong/templates/default/{$pro.prourl} NSUS|lianzong/templates/default/{$pro.image} NHUS|lianzong/templates/default/{$vod.vodurl} NHUS|lianzong/templates/default/{$arc.arcurl} NHUS|lianzong/templates/default/{$img.imgurl} NSUS|lianzong/templates/default/{$img.image} NHUS|lianzong/templates/default/{$img.imgurl} NHUS|lianzong/templates/default/{$pro.prourl} NSUS|lianzong/templates/default/{$pro.image} NHUS|lianzong/templates/default/{$pro.prourl}
vti_cachedtitle:SR|{$product.proname}-{$cfg.sysname}
vti_title:SR|{$product.proname}-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$product.tags},{$product.keywords},{$cfg.keywords} description {$product.proname},{$cfg.description}
vti_backlinkinfo:VX|lianzong/templates/default/detail.htm
