vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:49:18 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:49:18 -0000
vti_filesize:IR|964
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|{$flink.link_url}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/default/images/style.css DHUS| NHUS|lianzong/templates/default/{$flink.link_url}
vti_cachedtitle:SR|友情链接-{$cfg.sysname}
vti_title:SR|友情链接-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$cfg.keywords} description {$cfg.description}
vti_backlinkinfo:VX|
