vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 07:49:18 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 07:49:18 -0000
vti_filesize:IR|2021
vti_cachedlinkinfo:VX|Q|images/style.css H|/ H|jobs.php H|{$cat.caturl} H|{$menu.caturl} K|jobs.htm H|{$job.joburl}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/default/images/style.css DHUS| NHUS|lianzong/templates/default/jobs.php NHUS|lianzong/templates/default/{$cat.caturl} NHUS|lianzong/templates/default/{$menu.caturl} FKUS|lianzong/templates/default/jobs.htm NHUS|lianzong/templates/default/{$job.joburl}
vti_cachedtitle:SR|{$curcategory.name}-{$cfg.sysname}
vti_title:SR|{$curcategory.name}-{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$curcategory.keywords},{$cfg.keywords} description {$curcategory.description},{$cfg.description}
vti_backlinkinfo:VX|lianzong/templates/default/jobs.htm
