vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Apr 2011 08:55:14 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|14 Apr 2011 08:55:14 -0000
vti_filesize:IR|5063
vti_cachedlinkinfo:VX|S|images/icon_view.gif S|images/menu_minus.gif H|{$group.caturl} S|images/icon_view.gif S|{if\\ $group.disabled==0}images/yes.gif{else}images/no.gif{/if} S|images/menu_arrow.gif H|{$menu.caturl} S|images/icon_view.gif S|{if\\ $menu.disabled==0}images/yes.gif{else}images/no.gif{/if}
vti_cachedsvcrellinks:VX|NSUS|lianzong/admin/templates/images/icon_view.gif NSUS|lianzong/admin/templates/images/menu_minus.gif NHUS|lianzong/admin/templates/{$group.caturl} NSUS|lianzong/admin/templates/images/icon_view.gif NSUS|lianzong/admin/templates/{if\\ $group.disabled==0}images/yes.gif{else}images/no.gif{/if} NSUS|lianzong/admin/templates/images/menu_arrow.gif NHUS|lianzong/admin/templates/{$menu.caturl} NSUS|lianzong/admin/templates/images/icon_view.gif NSUS|lianzong/admin/templates/{if\\ $menu.disabled==0}images/yes.gif{else}images/no.gif{/if}
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
