vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2011 14:05:39 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Aug 2011 08:51:53 -0000
vti_filesize:IR|12318
vti_cachedlinkinfo:VX|A|{$smarty.server.PHP_SELF} H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:; S|images/icon_view.gif H|{$mm.mmurl} S|images/icon_view.gif H|{$smarty.server.PHP_SELF} H|{$smarty.server.PHP_SELF} H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:;
vti_cachedsvcrellinks:VX|NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; NSUS|lianzong/admin/templates/images/icon_view.gif NHUS|lianzong/admin/templates/{$mm.mmurl} NSUS|lianzong/admin/templates/images/icon_view.gif NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:;
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
