vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Dec 2010 08:03:08 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|18 Dec 2010 08:03:08 -0000
vti_filesize:IR|7781
vti_cachedlinkinfo:VX|A|{$smarty.server.PHP_SLEF} S|{if\\ $gp.type==1}images/yes.gif{else}images/no.gif{/if}
vti_cachedsvcrellinks:VX|NAUS|lianzong/admin/templates/{$smarty.server.PHP_SLEF} NSUS|lianzong/admin/templates/{if\\ $gp.type==1}images/yes.gif{else}images/no.gif{/if}
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
