vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Dec 2010 08:01:26 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Dec 2010 08:01:26 -0000
vti_filesize:IR|6144
vti_cachedlinkinfo:VX|S|javascript/quicktags.js A|{$smarty.server.PHP_SELF} S|{$folderup.img} H|{$folderup.folderlink} S|{$dir.img} H|{$dir.folderlink} S|{$file.img} H|admin_template.htm
vti_cachedsvcrellinks:VX|NSUS|lianzong/admin/templates/javascript/quicktags.js NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NSUS|lianzong/admin/templates/{$folderup.img} NHUS|lianzong/admin/templates/{$folderup.folderlink} NSUS|lianzong/admin/templates/{$dir.img} NHUS|lianzong/admin/templates/{$dir.folderlink} NSUS|lianzong/admin/templates/{$file.img} FHUS|lianzong/admin/templates/admin_template.htm
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|lianzong/admin/templates/admin_template.htm
