vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Dec 2010 09:55:41 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Dec 2010 09:55:41 -0000
vti_filesize:IR|7575
vti_cachedlinkinfo:VX|A|{$smarty.server.PHP_SELF} H|javascript:; H|javascript:; H|javascript:;
vti_cachedsvcrellinks:VX|NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} SHUS|javascript:; SHUS|javascript:; SHUS|javascript:;
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
