vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Dec 2010 09:40:37 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Aug 2011 08:51:53 -0000
vti_filesize:IR|7741
vti_cachedlinkinfo:VX|A|{$smarty.server.PHP_SELF} S|images/menu_plus.gif H|{$smarty.server.PHP_SELF} H|{$smarty.server.PHP_SELF} H|{$smarty.server.PHP_SELF} S|images/menu_arrow.gif H|{$smarty.server.PHP_SELF} H|{$smarty.server.PHP_SELF}
vti_cachedsvcrellinks:VX|NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NSUS|lianzong/admin/templates/images/menu_plus.gif NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NSUS|lianzong/admin/templates/images/menu_arrow.gif NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NHUS|lianzong/admin/templates/{$smarty.server.PHP_SELF}
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
