vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 10:16:21 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 10:16:21 -0000
vti_filesize:IR|11565
vti_cachedlinkinfo:VX|S|javascript/image.js A|{$smarty.server.PHP_SELF} A|{$smarty.server.PHP_SELF} H|javascript:; H|javascript:; H|javascript:; H|{$fl.attachment} S|{$fl.thumbnail} H|javascript:; H|javascript:; H|javascript:; H|javascript:; H|javascript:;
vti_cachedsvcrellinks:VX|NSUS|lianzong/admin/templates/javascript/image.js NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} NAUS|lianzong/admin/templates/{$smarty.server.PHP_SELF} SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; NHUS|lianzong/admin/templates/{$fl.attachment} NSUS|lianzong/admin/templates/{$fl.thumbnail} SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:; SHUS|javascript:;
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
