vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2011 14:28:33 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|19 Apr 2011 14:28:33 -0000
vti_filesize:IR|1905
vti_cachedlinkinfo:VX|Q|images/style.css S|include/javascript/common.js S|include/lang.zh_cn.js A|index.php S|images/ctr.gif S|../include/checkcode.php
vti_cachedsvcrellinks:VX|NQUS|lianzong/admin/templates/images/style.css NSUS|lianzong/admin/templates/include/javascript/common.js NSUS|lianzong/admin/templates/include/lang.zh_cn.js NAUS|lianzong/admin/templates/index.php NSUS|lianzong/admin/templates/images/ctr.gif NSUS|lianzong/admin/include/checkcode.php
vti_cachedtitle:SR|{$lang.cp_home}
vti_title:SR|{$lang.cp_home}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_backlinkinfo:VX|
