vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 10:18:21 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 10:18:21 -0000
vti_filesize:IR|4812
vti_cachedlinkinfo:VX|Q|images/index.css S|javascript/common.js S|javascript/common.js S|images/loading.gif H|javascript:document.location.reload(); H|admin_about_us.php H|../ H|admin_message.php H|admin_admin.php H|index.php H|index.php H|javascript:; H|javascript:; H|index.php H|../ H|index.php H|admin_admin.php H|admin_message.php H|index.php H|admin_about_us.php S|index.php
vti_cachedsvcrellinks:VX|NQUS|lianzong/admin/templates/images/index.css NSUS|lianzong/admin/templates/javascript/common.js NSUS|lianzong/admin/templates/javascript/common.js NSUS|lianzong/admin/templates/images/loading.gif SHUS|javascript:document.location.reload(); NHUS|lianzong/admin/templates/admin_about_us.php DHUS|lianzong/admin/ NHUS|lianzong/admin/templates/admin_message.php NHUS|lianzong/admin/templates/admin_admin.php NHUS|lianzong/admin/templates/index.php NHUS|lianzong/admin/templates/index.php SHUS|javascript:; SHUS|javascript:; NHUS|lianzong/admin/templates/index.php DHUS|lianzong/admin/ NHUS|lianzong/admin/templates/index.php NHUS|lianzong/admin/templates/admin_admin.php NHUS|lianzong/admin/templates/admin_message.php NHUS|lianzong/admin/templates/index.php NHUS|lianzong/admin/templates/admin_about_us.php NSUS|lianzong/admin/templates/index.php
vti_cachedtitle:SR|{$lang.app_name}
vti_title:SR|{$lang.app_name}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_backlinkinfo:VX|
