vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2011 15:52:12 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|19 Apr 2011 15:52:12 -0000
vti_filesize:IR|1752
vti_cachedlinkinfo:VX|Q|images/style.css S|javascript/common.js S|lang.zh_cn.js S|images/information.gif S|images/warning.gif S|images/arrow.gif H|{$links.href}
vti_cachedsvcrellinks:VX|NQUS|lianzong/admin/templates/images/style.css NSUS|lianzong/admin/templates/javascript/common.js NSUS|lianzong/admin/templates/lang.zh_cn.js NSUS|lianzong/admin/templates/images/information.gif NSUS|lianzong/admin/templates/images/warning.gif NSUS|lianzong/admin/templates/images/arrow.gif NHUS|lianzong/admin/templates/{$links.href}
vti_cachedtitle:SR|{$page_title} {$lang.cp_home}
vti_title:SR|{$page_title} {$lang.cp_home}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_backlinkinfo:VX|
