vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 10:18:02 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|13 Apr 2011 10:18:02 -0000
vti_filesize:IR|625
vti_cachedlinkinfo:VX|Q|images/style.css S|javascript/common.js S|javascript/list.js S|include/lang.zh_cn.js
vti_cachedsvcrellinks:VX|NQUS|lianzong/admin/templates/images/style.css NSUS|lianzong/admin/templates/javascript/common.js NSUS|lianzong/admin/templates/javascript/list.js NSUS|lianzong/admin/templates/include/lang.zh_cn.js
vti_cachedtitle:SR|{$manage_title} {$lang.cp_home}
vti_title:SR|{$manage_title} {$lang.cp_home}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_backlinkinfo:VX|
