vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|13 Apr 2011 10:00:31 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Aug 2011 08:51:53 -0000
vti_filesize:IR|4099
vti_cachedlinkinfo:VX|S|include/lang.zh_cn.js Q|images/style.css H|{$fd.folderlink} S|{$fd.img} H|javascript:; S|{$tree.img} H|javascript:; S|../images/img/picviewnone.gif A|select_image.php H|javascript:; S|../images/img/picviewnone.gif
vti_cachedsvcrellinks:VX|NSUS|lianzong/admin/templates/include/lang.zh_cn.js NQUS|lianzong/admin/templates/images/style.css NHUS|lianzong/admin/templates/{$fd.folderlink} NSUS|lianzong/admin/templates/{$fd.img} SHUS|javascript:; NSUS|lianzong/admin/templates/{$tree.img} SHUS|javascript:; FSUS|lianzong/admin/images/img/picviewnone.gif NAUS|lianzong/admin/templates/select_image.php SHUS|javascript:; FSUS|lianzong/admin/images/img/picviewnone.gif
vti_cachedtitle:SR|图片选择器
vti_title:SR|图片选择器
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312
vti_backlinkinfo:VX|
