{include file='page_header.htm'}
<div class="msg_r" id="msg"></div>
<!--{if $action=='view'}-->
<div class="main-div">
<div class="toolbar">
	<span class="btn btn-dft" onclick="SendMail(document.form1)" onmouseover="this.className=btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>发送回复</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
  <form id="form1" name="form1" method="post" action="{$smarty.server.PHP_SELF}?action=reply">
    <input type="hidden" name="id" value="{$mail.id}" />
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="form-table">
      <tr>
        <td width="60">联系人：</td>
        <td>{$abc.name}</td>
      </tr>
      <tr>
        <td>联系电话：</td>
        <td>{$abc.tel}</td>
      </tr>
      <tr>
        <td width="50">所在单位：</td>
        <td>{$abc.company}</td>
      </tr>
      <tr>
        <td>电子邮件：</td>
        <td><input type="text" name="mailto" class="textinput" style="width:400px;" value="{$abc.email}" /></td>
      </tr>
	  <tr>
        <td>回复内容：</td>
        <td><textarea name="content" style="width:96%; height:200px;"></textarea></td>
      </tr>
    </table>
  </form>
<div class="toolbar">
	<span class="btn btn-dft" onclick="SendMail(document.form1)" onmouseover="this.className=btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>发送回复</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
{literal}
<script type="text/javascript">
function SendMail(obj){
    if(!obj.content.value){
	    alert('回复内容不能为空!');
		return false;
	}
	obj.submit();
}
</script>
{/literal}
<!--{else}-->
<div class="main-div">
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
	<span class="btn btn-dft" onclick="Drop('id[]','&page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.delete}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
    <tr>
      <th width="20"><input type="checkbox" onclick="checkAll(this,'id[]')" /></td>
      <th>{$lang.mail_subject}</th>
	  <th width="100">联系电话</th>
      <th width="160">电子邮件</th>
      <th width="120" class="last">提问时间</th>
    </tr>
	<!--{foreach from=$services item=aa}-->
    <tr onmouseover="this.className='active'" onmouseout="this.className=''">
      <td><input type="checkbox" name="id[]" value="{$aa.id}" onclick="checkThis(this)" /></td>
      <td><a href="{$smarty.server.PHP_SELF}?action=view&id={$aa.id}">{$aa.company} {$aa.name}</a></td>
	  <td>{$aa.tel}</td>
      <td>{$aa.email}</td>
      <td><span class="mdate">{$aa.dateline|date_format:'%Y-%m-%d %H:%M:%S'}</span></td>
    </tr>
	<!--{/foreach}-->
    <tr>
      <td colspan="4">{$lang.select}：
			<a href="javascript:;" onclick="selectAll('id[]')">{$lang.selectall}</a> - 
			<a href="javascript:;" onclick="cancelAll('id[]')">{$lang.noselect}</a> - 
			<a href="javascript:;" onclick="reverseAll('id[]')">{$lang.reverseselect}</a>
	  </td>
  </tr>
  </table>
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
	<span class="btn btn-dft" onclick="Drop('id[]','&page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.delete}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
<!--{/if}-->