{include file='page_header.htm'}
<div class="main-div" style="margin-top:20px;">
   <h3>程序开发</h3>
   <div class="blank"></div>
   <table width="100%" border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td width="80" height="28"><b>项目策划</b></td>
       <td>David Song</td>
     </tr>
     <tr>
       <td height="28"><b>程序开发</b></td>
       <td>David Song</td>
     </tr>
     <tr>
       <td height="28"><b>界面设计</b></td>
       <td>David Song ,XiaoFang.</td>
     </tr>
     <tr>
       <td height="28"><b>文档整理</b></td>
       <td>David Song</td>
     </tr>
  </table>
</div>
<div class="main-div" style="margin-top:10px;">
  <h3>官方网站</h3>
  <div class="blank"></div>
  <table width="100%" border="0" cellspacing="1" cellpadding="0">
    <tr>
      <td width="80" height="28"><b>网站地址</b></td>
      <td><a href="http://www.songdewei.com" target="_blank">http://www.songdewei.com</a></td>
    </tr>
    <tr>
      <td height="28"><b>技术支持</b></td>
      <td>QQ:307718818 , MSN:songdewei@hotmail.com</td>
    </tr>
  </table>
</div>
<div class="main-div" style="margin-top:10px;">
   <h3>版权信息</h3>
   <div class="blank"></div>
   <table width="100%" border="0" cellspacing="1" cellpadding="0">
     <tr>
       <td width="80" height="28"><b>版权所有</b></td>
       <td>&copy;2010 北京小宋工作室版权所有，并保留所有权利。</td>
     </tr>
     <tr>
       <td height="28"><b>程序版本</b></td>
       <td>V1.0测试版。</td>
     </tr>
  </table>
</div>
</body>
</html>