{include file='page_header.htm'}
<div class="msg_r" id="msg"></div>
<!--{if $action=='addnew'||$action=='edit'}-->
<div class="main-div">
	<div class="toolbar">
		<span class="btn btn-dft" onclick="return check_user_submit(document.form1)" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{if $action=='add'}{$lang.save}{else}{$lang.save_edit}{/if}</span></span>
		<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload();" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
	</div>
	  <form name="form1" method="post" action="{$smarty.server.PHP_SELF}?action=save">
		<input type="hidden" name="user_id" value="{$user.user_id}" />
		<table border="0" cellspacing="0" cellpadding="0" class="form-table">
		  <tr>
			<td width="70">{$lang.user_name}£º</td>
			<td><input name="username" type="text" class="textinput" style="width:240px;" onblur="checkValue(this.value,'&action=checkname','{$lang.user_exists}')" value="{$user.username}"{if $action=='add'}{/if} /></td>
		  </tr>
		  <tr>
			<td>{$lang.user_pass}£º</td>
			<td>
			    <input name="password" type="password" class="textinput" style="width:240px;" />
			    <input type="hidden" name="oldpass" value="{$user.password}" />
			</td>
		  </tr>
		  <tr>
			<td>{$lang.user_email}£º</td>
			<td><input name="email" type="text" class="textinput" id="email" style="width:240px;" value="{$user.email}" /></td>
		  </tr>
		  <tr>
			<td>{$lang.user_group}£º</td>
			<td>
			<select name="groupid" id="groupid">
			<!--{foreach from=$groups item=group}-->
			<option value="{$group.groupid}" {if $user.groupid==$group.groupid}selected{/if}>{$group.groupname}</option>
			<!--{/foreach}-->
			</select>		
			</td>
		  </tr>
		  <tr>
			<td>{$lang.user_sex}£º</td>
			<td>
			<input type="radio" name="sex" value="1"{if $user.sex==1} checked{/if}> {$lang.male}
			<input type="radio" name="sex" value="0"{if $user.sex==0} checked{/if}> {$lang.female}
			</td>
		  </tr>
<!--		  <tr>
			<td>{$lang.user_question}£º</td>
			<td><input name="user_question" type="text" value="{$user.user_question}" class="textinput" style="width:240px;"></td>
		  </tr>
		  <tr>
			<td>{$lang.user_answer}£º</td>
			<td><input name="user_answer" type="text" value="{$user.user_answer}" class="textinput" style="width:240px;"></td>
		  </tr>
		  <tr>
			<td>{$lang.user_tel}£º</td>
			<td><input name="user_tel" type="text" value="{$user.user_tel}" class="textinput" style="width:240px;"></td>
		  </tr>
		  <tr>
			<td>{$lang.user_company}£º</td>
			<td><input name="user_company" type="text" value="{$user.user_company}" class="textinput" style="width:240px;"></td>
		  </tr>
-->		 </table>
	  </form>
	<div class="toolbar">
		<span class="btn btn-dft" onclick="return check_user_submit(document.form1)" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{if $action=='add'}{$lang.save}{else}{$lang.save_edit}{/if}</span></span>
		<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
		<span class="btn btn-dft" onclick="window.location.reload();" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseover="this.className='btn btn-hover'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
	</div>
</div>
<script language="javascript" type="text/javascript">
var user_name_empty='{$lang.user_name_empty}';
var user_pass_empty='{$lang.user_pass_empty}';
var user_email_empty='{$lang.user_email_empty}';
{literal}
function check_user_submit(obj){
   if(!trimStr(obj.username.value)){
	  showError(user_name_empty)
	  return false;
   }
   if(!obj.password.value&&!obj.oldpass.value){
	  showError(user_pass_empty);
	  return false;
   }
   if(!obj.email.value){
	  showError(user_email_empty);
	  return false;
   }
   obj.submit();
   return true;
}
{/literal}
</script>
<!--{else}-->
<div class="main-div">
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
    <span class="btn btn-dft" onclick="Drop('user_id[]','&page={$smarty.get.page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?action=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.user_add}</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?page={$smarty.get.page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
    <tr>
      <th width="20"><input type="checkbox" onclick="checkAll(this,'uid[]')" /></td>
      <th>{$lang.user_name}</td>
      <th width="80">{$lang.user_group}</td>
      <th width="30" style="text-align:center;">{$lang.user_sex}</td>
      <th width="200">{$lang.user_email}</td>
      <th width="90">{$lang.user_lastip}</td>
      <th width="60" style="text-align:center;">{$lang.user_logintimes}</td>
	  <th width="120" class="last">{$lang.user_lastlogin}</td>
    </tr>
	<!--{foreach from=$users item=user}-->
    <tr onmouseover="this.className='active'" onmouseout="this.className=''">
      <td><input type="checkbox" name="uid[]" value="{$user.uid}" onclick="checkThis(this)" /></td>
      <td><a href="{$smarty.server.PHP_SELF}?action=edit&uid={$user.uid}">{$user.username}</a></td>
      <td>{$user.groupname}</td>
      <td style="text-align:center;">{if $user.sex==1}{$lang.male}{else}{$lang.female}{/if}</td>
      <td><span onclick="javascript:Edit(this,'edit_email',{$user.uid});">{$user.email}</span></td>
      <td>{$user.lastip}</td>
      <td style="text-align:center;">{$user.logintimes}</span></td>
	  <td><span class="mdate">{$user.lastlogin|date_format:'%Y-%m-%d %H:%M:%S'}</span></td>
    </tr>
	<!--{/foreach}-->
	<tr>
	    <td colspan="8">{$lang.select}£º
			<a href="javascript:;" onclick="selectAll('uid[]')">{$lang.selectall}</a> - 
			<a href="javascript:;" onclick="cancelAll('uid[]')">{$lang.noselect}</a> - 
			<a href="javascript:;" onclick="reverseAll('uid[]')">{$lang.reverseselect}</a>
		</td>
	</tr>
  </table>
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
    <span class="btn btn-dft" onclick="Drop('user_id[]','&page={$smarty.get.page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?action=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.user_add}</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?page={$smarty.get.page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
<!--{/if}-->