{include file='page_header.htm'}
<div class="msg_r" id="msg"></div>
<!--{if $action=='addnew'||$action=='edit'}-->
<div class="main-div">
<div class="toolbar">
	<span class="btn btn-dft" onclick="check_admin_submit(document.admin)" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
<form action="{$smarty.server.PHP_SELF}?action=save" method="post" name="admin" style="margin:10px 0px;">
<input type="hidden" name="admin_id" value="{$admin_user.admin_id}" /> 
<input type="hidden" name="oldpass" value="{$admin_user.admin_pass}" /> 
<table border="0" cellspacing="0" cellpadding="0" class="form-table">
  <tr>
	<td width="80">{$lang.admin_account}£º</td>
	<td><input name="admin_user" type="text" value="{$admin_user.admin_user}" class="textinput" style="width:220px;"{if $action=='edit'} readonly{else} onblur="checkValue(this.value,'&action=checkuser','{$lang.admin_exists}')"{/if}/></td>
  </tr>
  <tr>
	<td>{$lang.admin_password}£º</td>
	<td><input name="admin_pass" type="password" class="textinput" style="width:220px;" /></td>
  </tr>
  {if $admin_user.admin_type==0}
  <tr>
    <td>{$lang.admin_type}£º</td>
    <td>
	<select name="admin_type" id="admin_type">
      <option value="0" {if $admin_user.admin_type==0}selected{/if}>{$lang.system_admin}</option>
      <option value="1" {if $admin_user.admin_type==1}selected{/if}>{$lang.content_admin}</option>
    </select>	
    </td>
  </tr>
  {/if}
  <tr>
	<td>{$lang.admin_tel}£º</td>
	<td><input name="admin_tel" type="text" value="{$admin_user.admin_tel}" class="textinput" style="width:220px;" /></td>
  </tr>
  <tr>
	<td>{$lang.admin_email}£º</td>
	<td><input name="admin_email" type="text" value="{$admin_user.admin_email}" class="textinput" style="width:220px;" /></td>
  </tr>
  <tr>
    <td>{$lang.admin_qq}£º</td>
    <td><input name="admin_qq" type="text" value="{$admin_user.admin_qq}" class="textinput" style="width:220px;" /></td>
  </tr>
  <tr>
    <td>{$lang.admin_msn}£º</td>
    <td><input name="admin_msn" type="text" value="{$admin_user.admin_msn}" class="textinput" style="width:220px;" /></td>
  </tr>
  {if $admin_user.admin_type==0}
  <tr>
    <td>{$lang.admin_competence}£º</td>
    <td style="line-height:20px;">
	<!--{foreach from=$myactions.0 item=group key=key}-->
	<input type="checkbox" name="competence[]" value="{$group.action_id}"{$group.checked} onclick="CheckSub(this,{$key})" /> <strong>{$group.action_name}</strong><br />
	<span id="sub_{$key}">
	<!--{assign var='sub' value=$group.action_id}-->
	<!--{foreach from=$myactions.$sub item=menu}-->
	¡¡<input type="checkbox" name="competence[]" value="{$menu.action_id}"{$menu.checked} /> {$menu.action_name}<br />
	<!--{/foreach}-->
	</span>
	<!--{/foreach}-->	
	</td>
  </tr>
  {/if}
</table>
</form>
<div class="toolbar">
	<span class="btn btn-dft" onclick="check_admin_submit(document.admin)" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.save}</span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.back_list}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
{literal}
<script type="text/javascript">
function check_admin_submit(obj){
   pattern1 = /[a-zA-Z]/;
   pattern2 = /[a-zA-z]+[0-9]/;
   if(!trimStr(obj.admin_user.value)){
        showError(admin_user_empty);
	    return false;
   }
   if(!(pattern1.test(obj.admin_user.value)||pattern2.test(obj.admin_user.value))){
        showError(admin_user_incorrect);
	    return false;
   }
   
   var password = obj.admin_pass.value;
   if(password) {
	   if(password.length<5||password.length>16){
	       showError(admin_pass_incorrect);
		   return false;
	   }
   }else {
       password = obj.oldpass.value;
	   if(!password){
		  showError(admin_pass_empty);
		  return false;
	   }
   }
   
   obj.submit();
   return true;
}

function CheckSub(theobj,key){
	var items = $('sub_'+key).getElementsByTagName('input');
	for(var i=0;i<items.length;i++){
		if(theobj.checked){
			items[i].checked = true;
		}else{
			items[i].checked = false;
		}
	}
}
</script>
{/literal}
<!--{else}-->
<div class="main-div">
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
	<span class="btn btn-dft" onclick="Drop('admin_id[]','&page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?action=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.admin_add}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
<table border="0" cellpadding="0" cellspacing="0" class="list">
  <tr>
    <th width="20"><input type="checkbox" onclick="checkAll(this,'admin_id[]')" /></th>
    <th>{$lang.admin_account}</th>
	<th width="100">{$lang.admin_type}</th>
    <th width="140">{$lang.admin_last_login}</th>
    <th width="60">{$lang.admin_login_times}</th>
    <th width="90">{$lang.admin_login_ip}</th>
    <th width="100">{$lang.admin_tel}</th>
    <th width="100" class="last">{$lang.admin_qq}</th>
  </tr>
  <!--{foreach from=$admin_users item=user}-->
  <tr onmouseover="this.className='active'" onmouseout="this.className=''">
    <td><input type="checkbox" name="admin_id[]" value="{$user.admin_id}" onclick="checkThis(this)" /></td>
    <td><a href="admin_admin.php?action=edit&admin_id={$user.admin_id}">{$user.admin_user}</a></td>
	<td>{if $user.admin_type==0}<font color="#FF0000">{$lang.system_admin}</font>{else}{$lang.content_admin}{/if}</td>
    <td>{$user.lastlogin|date_format:'%Y-%m-%d %H:%M:%S'}</td>
    <td>{$user.logintimes}</td>
    <td>{$user.admin_ip}</td>
    <td>{$user.admin_tel}</td>
    <td>{$user.admin_qq}</td>
  </tr>
  <!--{/foreach}-->
</table>
<div class="toolbar">
    <span class="pagebox">{$pagelink}</span>
	<span class="btn btn-dft" onclick="Drop('admin_id[]','&page={$page}')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span><b>{$lang.drop}</b></span></span>
	<span class="btn btn-dft" onclick="Location('{$smarty.server.PHP_SELF}?action=addnew')" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.admin_add}</span></span>
	<span class="btn btn-dft" onclick="window.location.reload()" onmouseover="this.className='btn btn-hover'" onmouseup="this.className='btn btn-hover'" onmousedown="this.className='btn btn-active'" onmouseout="this.className='btn btn-dft'" tabindex="0"><span>{$lang.refresh}</span></span>
</div>
</div>
<!--{/if}-->