{if !$inajax}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>{$manage_title} {$lang.cp_home}</title>
<link rel="stylesheet" type="text/css" href="images/style.css">
<script src="javascript/common.js" type="text/javascript"></script>
<script src="javascript/list.js" type="text/javascript"></script>
<script src="include/lang.zh_cn.js" type="text/javascript"></script>
</head>
<body>
<span id="bodyFrame">
{/if}