vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Nov 2010 09:43:02 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|26 Nov 2010 09:43:02 -0000
vti_filesize:IR|3618
vti_cachedlinkinfo:VX|S|bg.png S|bgx.png S|bgx.png S|logo.jpg S|bg.png S|bgx.png S|bg.png S|bg.png S|bg.png
vti_cachedsvcrellinks:VX|FSUS|lianzong/admin/images/bg.png FSUS|lianzong/admin/images/bgx.png FSUS|lianzong/admin/images/bgx.png FSUS|lianzong/admin/images/logo.jpg FSUS|lianzong/admin/images/bg.png FSUS|lianzong/admin/images/bgx.png FSUS|lianzong/admin/images/bg.png FSUS|lianzong/admin/images/bg.png FSUS|lianzong/admin/images/bg.png
vti_backlinkinfo:VX|
