/* CSS Document */
html,body{font:12px ''; padding:0; margin:0; color:#333333;}
ul,li,form{padding:0; margin:0; list-style:none;}
a{color:#333333; text-decoration:none;}
a:hover{color:#FF0000; text-decoration:underline;}
.clear{height:1px; line-height:1px; clear:both;}
.blank{height:10px; line-height:10px; clear:both;}

/**Top**/
.topdiv {width:960px; clear:both; margin:10px auto;}
.topdiv .logo {width:620px; height:76px; float:left; text-align:left;}
.topdiv .topright {width:300px; height:26px; float:right; font:bold 14px/26px "Times New Roman"; padding:50px 30px 0 0; text-align:right;}

.nav {width:960px; height:30px; margin:0 auto 10px auto; font-size:14px; background:#943634; color:#CCCCCC; position:relative; z-index:10;}
.nav li{float:left; display:inline-block; width:100px; text-align:center; position:relative;}
.nav li a:link,.nav li a:hover,.nav li a:visited,.nav li a:active{color:#fff; text-decoration:none; height:30px; line-height:30px; display:block;}
.nav li.selected,.nav li a:hover {background:#6F0000;}
.nav li ul{background:#A83600; position:absolute; width:100px; top:30px; left:0; z-index:100; display:none; font-size:12px;}
.nav li ul li {height:26px; line-height:26px; float:none; clear:both; padding:0;}
.nav li ul li a:link{display:block; color:#FFFFFF;}
.nav li ul li a:hover{background:#CC6633; color:#FFFFFF; text-decoration:none;}
.nav li ul li a:visited{display:block; color:#FFFFFF; text-decoration:none;}
.nav li ul li a:active{display:block; color:#FFFFFF; text-decoration:none;}

/**index**/
.area {width:960px; clear:both; margin:0 auto;}
#slide {width:695px; height:225px; float:left;}
#slideshow{position:relative;height:225px;width:695px; margin:0 auto;}
#slideshow div{position:absolute;top:0;left:0;z-index:3;opacity:0.0;height:225px;overflow:hidden;background-color:#FFF;}
#slideshow div.current{z-index:5;}
#slideshow div.prev{z-index:4;}
#slideshow div img{display:block;border:0;margin-bottom:10px; width:695px; height:225px;}
#slideshow div span{display:none;position:absolute;bottom:0;left:0; font-size:14px;height:30px;line-height:30px;background:#000;color:#fff;width:700px; padding:0 10px;}

#slideright {width:245px; float:right; text-align:left;}
#slideright img{width:244px;}
.left01 {width:695px; float:left;}
.right01 {width:245px; float:right;}

.yourpos {height:24px; line-height:24px; padding:0 10px; clear:both; overflow:hidden;}
.title-gray{background:#D9D9D9; height:30px; line-height:30px; overflow:hidden; padding:0 10px; font-size:16px;}
.title-brown{background:#943634; color:#FFFFFF; margin-top:20px; height:30px; line-height:30px; overflow:hidden; padding:0 10px; font-size:16px;}
.title-brown .more{float:right; color:#FFFFFF; font-size:12px;}

.left01 p {font:400 14px/150% Arial; text-align:justify; text-indent:2em; color:#666666;}
.left01 ul{clear:both; margin:0; padding:10px;}
.left01 ul li{height:26px; line-height:26px; font-size:14px; text-align:left; clear:both; overflow:hidden;}
.left01 ul li span{float:right; color:#999999;}

.left01 .banner{clear:both; text-align:left; margin-bottom:10px;}
.left01 .banner img{width:695px; border:none;}
#prevpage {width:340px; float:left; padding:5px 0; text-align:left;}
#nextpage {width:340px; float:right; padding:5px 0; text-align:left;}

.right01 .title-big {height:30px; line-height:30px; font-size:16px; letter-spacing:5px; clear:both; border-bottom:1px #996600 solid;}
.right01 .titlelist {clear:both; margin:15px 0;}
.right01 .titlelist li{background:url(icon-1.png) left center no-repeat; text-align:left; padding:5px 0 5px 22px; font:400 14px '';}
.right01 .titlelist li a{padding:5px;}
.right01 .titlelist li a.selected{background:#D99594;}

/*
#right {position:relative; float:right; z-index:-1000;}
#right #lhhz{position:absolute; bottom:30px; z-index:100;}
#right *{z-index:100;}
*/

/**jobs**/
.jobsbox {clear:both;text-align:left;border-bottom:1px #CCCCCC dotted;padding:5px 10px; margin:5px 0;}
.jobsbox h3{padding:6px 0;text-align:left; margin:0; padding:5px 0;}
.jobsbox h3 a{color:#0088cd; text-decoration:underline; margin:0px; padding:0;}
.jobsbox h3 span.more{float:right;font-weight:400;font-size:12px;}
.jobsbox h3 span.more a{color:#666666;}
.jobsbox .jobs-item {padding:5px 0;color:#666666;}
.jobsbox .jobs-content {padding:5px 0;line-height:150%;color:#666666;font-size:12px;}
.jobsbox .jobs-content *{font-size:12px; line-height:150%; text-indent:0;}

.apply {margin:10px;padding:5px;}
.apply a{background:url(apply_button.gif) no-repeat;width:133px;height:34px;display:inline-block;font-size:16px;color:#FFFFFF;padding: 8px 0 0 10px;text-align: center;}
.apply a,.apply a:hover{color:#FFFFFF; text-decoration:none;}

.contactus {width:590px; clear:both; margin:0 auto; padding:10px 0;}
.contactus li{padding:6px 0; text-align:left; font-size:16px;}

.formtable {clear:both; width:100%;}
.formtable td{padding:5px;}

.listtable {clear:both; margin:10px 0; width:100%;}
.listtable tr.gray {background:#f0f0f0;}
.listtable td{padding:8px 6px; font-size:14px;}

#teammember p{font-size:16px; padding:5px 0; margin:0;}
#teammember p.profile{font:400 14px/150% "ו";}
/**system message**/
.messagebox {padding:20px; width:500px; margin:50px auto; clear:both; border:1px #CCCCCC solid; background:#fff;}
.messagediv {clear:both; line-height:30px;}
.messagediv a:hover{text-decoration:underline;}
.messagediv #thetimer{color:#FF0000; font:bold 12px Arial;}
.messagebox h2{height:46px; line-height:46px; margin:0; padding:0;  padding:7px 0 0 20px;}
.messagebox h2.ok{background:url(information.gif) left center no-repeat; padding-top:10px;}
.messagebox h2.error{background:url(warning.gif) left center no-repeat;}

.pagelink{height:24px; line-height:24px; overflow:auto; text-align:center; border-top:1px #993366 solid; text-align:right; padding-right:10px;}
.pagelink a{margin:0 3px;}

#flinks {clear:both; padding:10px 5px; text-align:left; line-height:180%;}
#flinks a{font-size:13px; margin:0 2px;}

.footer {height:24px; overflow:hidden; text-align:center; font:12px/24px Arial;}
#bottom {background:#D9D9D9; margin:5px 0; font-size:14px;}
#bottom a{margin:0 3px;}