vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|17 Apr 2011 14:58:46 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|17 Apr 2011 14:58:46 -0000
vti_filesize:IR|858
vti_cachedlinkinfo:VX|S|images/logo.png H|{$nav.nav_link} H|/ H|{$nav.nav_link} H|{$subnav.nav_link}
vti_cachedsvcrellinks:VX|FSUS|lianzong/templates/lianzong/images/logo.png NHUS|lianzong/templates/lianzong/{$nav.nav_link} DHUS| NHUS|lianzong/templates/lianzong/{$nav.nav_link} NHUS|lianzong/templates/lianzong/{$subnav.nav_link}
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_backlinkinfo:VX|
