vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Apr 2011 14:40:11 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|11 Aug 2011 08:51:55 -0000
vti_filesize:IR|2877
vti_cachedlinkinfo:VX|Q|images/style.css S|js/jquery.js S|js/common.js H|{$fl.flash_link} S|{$fl.flash_pic} S|images/pic-1.jpg S|images/pic-2.jpg H|arclist.php H|{$arc.arcurl} H|{$flink.link_url}
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/lianzong/images/style.css NSUS|lianzong/templates/lianzong/js/jquery.js NSUS|lianzong/templates/lianzong/js/common.js NHUS|lianzong/templates/lianzong/{$fl.flash_link} NSUS|lianzong/templates/lianzong/{$fl.flash_pic} FSUS|lianzong/templates/lianzong/images/pic-1.jpg FSUS|lianzong/templates/lianzong/images/pic-2.jpg NHUS|lianzong/templates/lianzong/arclist.php NHUS|lianzong/templates/lianzong/{$arc.arcurl} NHUS|lianzong/templates/lianzong/{$flink.link_url}
vti_cachedtitle:SR|{$cfg.sysname}_首页
vti_title:SR|{$cfg.sysname}_首页
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$cfg.keywords} description {$cfg.description}
vti_backlinkinfo:VX|
