vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Apr 2011 06:43:20 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|20 Apr 2011 06:43:20 -0000
vti_filesize:IR|1958
vti_cachedlinkinfo:VX|Q|images/style.css S|js/jquery.js S|js/common.js S|js/banner.js H|index.php H|team_member.php H|team.php S|images/pic-2.jpg
vti_cachedsvcrellinks:VX|FQUS|lianzong/templates/lianzong/images/style.css NSUS|lianzong/templates/lianzong/js/jquery.js NSUS|lianzong/templates/lianzong/js/common.js NSUS|lianzong/templates/lianzong/js/banner.js NHUS|lianzong/templates/lianzong/index.php NHUS|lianzong/templates/lianzong/team_member.php NHUS|lianzong/templates/lianzong/team.php FSUS|lianzong/templates/lianzong/images/pic-2.jpg
vti_cachedtitle:SR|{$teams.0.name}_{$cfg.sysname}
vti_title:SR|{$teams.0.name}_{$cfg.sysname}
vti_cachedbodystyle:SR|<body>
vti_cachedhasbots:BR|false
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_metatags:VR|HTTP-EQUIV=Content-Type text/html;\\ charset=gb2312 keywords {$cfg.keywords} description {$cfg.description}
vti_backlinkinfo:VX|
